<div class="col-md-6">
<h2>Update task</h2>
<form class="update-task">
    <div class="form-group">
        <!-- Task name -->
        <label for="task-name">Task name:</label>
        <input class="form-input" type="text" id="task-name" value="{{task.task_name}}">
        </div>
    <div class="form-group">
         <!-- Due date -->
        <label for="due-date">Due date:</label>
        <input class="form-input" type="date" id="due-date" value="{{format_date task.due_date}}"/>
    </div>
    <div class="form-group">
        <!-- Priority -->
        <label for="priority">Priority:</label>
        <select class="form-input" id="priority" value="{{task.priority}}"> 
            <option value="low">Low</option> 
            <option value="medium">Medium</option> 
            <option value="high">High</option> 
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary cancel" type="cancel">Cancel</button>
        <button class="btn btn-primary save" type="save">Save</button>
        <button class="btn btn-primary complete" type="complete">Complete task</button>
    </div>
</form>
</div>