<div class="col-md-6">
<h2>Update task</h2>
<form class="create-task">
    <div class="form-group">
        <label for="task-name">Task name:</label>
        <input class="form-input" type="text" id="task-name" value={{task.task_name}}/>
        </div>
    <div class="form-group">
        <label for="due-date">Due date:</label>
        <input class="form-input" type="date" id="due-date" />
    </div>
    <div class="form-group">
        <label for="priority">Priority:</label>
        <input class="form-input" type="password" id="priority" value={{task.priority}}/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="cancel">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
</div>