{{!-- This will display a table with the list of tasks --}}
<div class = "row">
  <div class="col-md-6">
    <h2>Task list</h2>
    <table id = "tasks">
      <thead>
        <th>Task name</th>
        <th>Due date</th>
        <th>Priority</th>
        <th>Completed</th>
      </thead>
      <tbody>
        <tr>
          <td>Cleaning the garage</td>
          <td>May 31, 2023</td>
          <td>High</td>
          <td class = "align-content-center"><input type="checkbox" />    &nbsp;   </td>
        </tr>
        <tr>
          <td>Cleaning the room</td>
          <td>May 30, 2023</td>
          <td>Low</td>
          <td><input type="checkbox" />    &nbsp;   </td>          
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h2>Create a task</h2>
    <form class="create-task">
      <div class="form-group">
        <label for="task-name">Task name:</label>
        <input class="form-input" type="text" id="task-name" />
      </div>
      <div class="form-group">
        <label for="due-date">Due date:</label>
        <input class="form-input" type="text" id="due-date" />
      </div>
      <div class="form-group">
        <label for="priority">Priority:</label>
        <input class="form-input" type="password" id="priority" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="cancel">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>


<script src="../js/task.js""></script>


  {{!-- need to un-comment this part --}}
  {{!-- <tbody>
    {{#each tasks}}
    <tr>
      <td>{{this.task_name}}</td>
      <td>{{this.due_date}}</td>
      <td>{{this.priority}}</td>
      <!--property value here-->
    </tr>
    {{/each}}
  </tbody> --}}
